language: php

sudo: false

dist: trusty

git:
  depth: 5

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - hhvm
  - nightly

matrix:
  fast_finish: true
  allow_failures:
    - php: 5.3
    - php: 5.4
    - php: 5.5
    - php: nightly

before_script:
  - composer self-update
  - composer install

script:
  - composer test
